<?php

require_once './vhost.php';

ksort($vhost);

foreach ($vhost as $host => $containers) {
  ksort($containers);

  $vhost[$host] = $containers;

  foreach ($containers as $container => $links) {
    ksort($links);

    $vhost[$host][$container] = $links;
  }
}

function httpd_link_get($group) {
  global $vhost;

  $httpd_link = NULL;

  foreach ($vhost as $host => $containers) {
    if ($host == $group) {
      foreach ($containers as $container => $links) {
        if ($container == 'httpd') {
          if (count($links) > 1) {
            $httpd_link = $links[80];
          }
          else {
            $httpd_link = array_shift($links);
          }

          break;
        }
      }

      break;
    }
  }

  return $httpd_link;
}

function logs_link_get($group) {
  global $vhost;

  $logs_link = NULL;

  foreach ($vhost as $host => $containers) {
    if ($host == $group) {
      foreach ($containers as $container => $links) {
        if ($container == 'logs') {
          if (count($links) > 1) {
            $logs_link = $links[80];
          }
          else {
            $logs_link = array_shift($links);
          }

          break;
        }
      }

      break;
    }
  }

  return $logs_link;
}

function pangalink_link_get($group) {
  global $vhost;

  $pangalink_link = NULL;

  foreach ($vhost as $host => $containers) {
    if ($host == $group) {
      foreach ($containers as $container => $links) {
        if ($container == 'pangalink') {
          if (count($links) > 1) {
            $pangalink_link = $links[80];
          }
          else {
            $pangalink_link = array_shift($links);
          }

          break;
        }
      }

      break;
    }
  }

  return $pangalink_link;
}

function html_class($string) {
  $string = strtolower($string);
  $string = preg_replace("/[^a-z0-9_\s-]/", "", $string);
  $string = preg_replace("/[\s-]+/", " ", $string);
  $string = preg_replace("/[\s_]/", "-", $string);

  return $string;
}

?>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @server_name %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="page" class="container">
      <div id="header">
        <div class="row">
          <h1><%= @server_name %></h1>
        </div>
        <div class="row">
          <form>
            <div class="form-group">
             <input type="text" class="form-control" id="filter" placeholder="Filter">
            </div>
          </form>
        </div>
      </div>
      <div id="content">
        <?php if ($vhost): ?>
          <?php foreach ($vhost as $host => $containers): ?>
            <div class="row">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-target="#collapse-<?php print html_class($host); ?>">
                    <h2 class="panel-title">
                      <?php if (($link = httpd_link_get($host)) || ($link = logs_link_get($host)) || ($link = pangalink_link_get($host))): ?>
                        <a href="<?php print $link; ?>" target="_blank"><?php print $host; ?></a><span class="glyphicon glyphicon-link"></span>
                      <?php else: ?>
                        <?php print $host; ?>
                      <?php endif; ?>
                    </h2>
                  </div>
                  <div id="collapse-<?php print html_class($host); ?>" class="panel-collapse collapse">
                    <table class="table">
                      <tbody>
                        <?php foreach ($containers as $container => $links): ?>
                          <tr>
                            <td class="column-1"><?php print $container; ?></td>
                            <td class="column-2">
                              <ul class="list-group">
                                <?php foreach ($links as $link): ?>
                                  <li class="list-group-item">
                                    <a href="<?php print $link; ?>" target="_blank"><?php print $link; ?></a>
                                  </li>
                                <?php endforeach; ?>
                              </ul>
                            </td>
                          </tr>
                        <?php endforeach; ?>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <?php endforeach; ?>
        <?php else: ?>
          <div class="row">
            There are no containers running on your host.
          </div>
        <?php endif; ?>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.storageapi.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
