<?php

require_once './vhost.php';

ksort($vhost);

foreach ($vhost as $host => $containers) {
  ksort($containers);

  $vhost[$host] = $containers;

  foreach ($containers as $container => $links) {
    ksort($links);

    $vhost[$host][$container] = $links;
  }
}

function httpd_link_get($group) {
  $httpd_link = NULL;

  foreach ($vhost as $host => $containers) {
    if ($host == $group) {
      foreach ($containers as $container => $links) {
        if ($container == 'httpd') {
          if (count($links) > 1) {
            $httpd_link = $links[80];
          }
          else {
            $httpd_link = array_shift($links);
          }

          break;
        }
      }

      break;
    }
  }

  return $httpd_link;
}

?>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @server_name %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1><%= @server_name %></h1>
      </div>
      <?php if ($vhost): ?>
        <?php foreach ($vhost as $host => $containers): ?>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <?php if (($httpd_link = httpd_link_get('httpd'))): ?>
                  <h2 class="panel-title">
                    <a href="<?php print $httpd_link; ?>"><?php print $host; ?></a>
                  </h2>
                <?php else: ?>
                  <h2 class="panel-title"><?php print $host; ?></h2>
                <?php endif; ?>
              </div>
              <table class="table">
                <tbody>
                  <?php foreach ($containers as $container => $links): ?>
                  <tr>
                    <td class="column-1"><?php print $container; ?></td>
                    <td class="column-2">
                      <ul class="list-group">
                        <?php foreach ($links as $link): ?>
                          <li class="list-group-item">
                            <a href="<?php print $link; ?>" target="_blank"><?php print $link; ?></a>
                          </li>
                        <?php endforeach; ?>
                      </ul>
                    </td>
                  </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>
            </div>
          </div>
        <?php endforeach; ?>
      <?php else: ?>
        <div class="row">
          There are no containers running on your host.
        </div>
      <?php endif; ?>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
